body, header, nav, main, aside {
	margin: 0;
	padding: 0;
}

body {
	background-color: #dddddd;
}

body > header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #0288d1;
}

nav, main, aside {
	box-sizing: border-box;
	margin-top: 50px;
	float: left;
}

nav {
	width: 14%;
	margin-right: 1%;
}

main {
	width: 55%;
}

aside {
	width: 28%;
	margin-left: 1%;
}

article {
	margin-bottom: 10px;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 1px white;
}

main article.create {

}

.post header img{
	float: left;
	width: 20px;
	height: 20px;
}

.post > ul {
	margin-left: auto;
}

.post > ul li {
	display: inline;
	margin-right: 5px;
}

.post footer {
	border-top: 1px solid black;
}

.post footer li{
	display: inline;
	margin-right: 5px;
}