body, header, nav, main, aside, li, ul, h3, p, a, img, div {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #dddddd;
}

body > header {
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	padding: 10px 0px;
	background-color: #3f51b5;
}

body > header > div {
	height: 100%;
	display:flex;
    align-items: center;
}

body > header img {
	width: 37px;
	height: 37px;
	float: left;
}

body > header input {
	width: 800px;
	float: left;
	margin-left: 10px;
	border-radius: 2px;
	padding: 3px;
}

body > header > div > nav{
	float: right;
	width: 100%;
}

body > header a{
	float: right;
	margin-left: 10px;
	display:flex;
    align-items: center;
    height: 25px;
    color: white;
    text-shadow: 0 0 1px white;
}

body > header a:nth-child(2){
	padding-left: 15px;
	border-left: 0.1px solid white;
}

body > header a:nth-child(3){
	margin-right: 10px;
}

body > header a:nth-last-child(2){
	margin-right: 10px;
}

body > header a img{
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

body > div > nav, main, aside {
	box-sizing: border-box;
	margin-top: 60px;
	float: left;
	border: 1px solid black;
}

div.pageWidth {
	box-sizing: content-box;
	margin: 0 auto;
	width: 1000px;
}

div > nav {
	width: 200px;
	margin-right: 10px;
}

main {
	width: 490px;
}

aside {
	width: 290px;
	margin-left: 10px;
}

article {
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 1px white;
	color: gray;
}

.buttons {
	list-style-type: none;
	text-align: left;
	vertical-align: middle;
}

.buttons li{
	display:flex;
    align-items: center;
	padding: 2px;
}

.buttons img {
	width: 30px;
	height: 30px;
	margin: 0;
}

.buttons h4 {
	display: inline;
	margin-left: 5px;
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 0 5px;
}

nav h3{
	margin-top: 20px;
	font-size: 16px;
	font-weight: normal;
}

nav ul li:first-child {
	margin-bottom: 5px;
}

.buttons li:hover {
	background-color: white;
	box-shadow: 0 0 1px gray;
}

main article.create {

}

.post header {
	margin-bottom: 15px;
}

.post header p{
	color: gray;
	font-size: 10px;
}

.floating:after {
	content: '';
	display: table;
	clear: both;
}

.post header img{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.post > img {
	margin-top: 10px;
	display: block;
	width: 100%;
}
.post > ul {
	margin-top: 15px;
	float: right;
}

.post > ul li {
	display: inline;
	margin-right: 5px;
}

.post footer {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 0.5px solid #dddddd;
	font-weight: bold;
}

.post footer li{
	display: inline;
	margin-right: 5px;
}

aside article.ads img {
	display: block;
	width: 100%;
}

aside article.ads h3{
	color: gray;
	text-align: left;
	font-size: 12px;
	margin-bottom: 10px;
}

aside article.events ul{
	padding: 0;
	color: gray;
}

.events span {
	color: blue;
}

.comments {
	height: 400px;
	overflow-y: auto;
	padding: 0;
}

.comments ul {
	padding: 0;
	list-style-type: none;
}

.comments ul li {
	display:flex;
    align-items: center;
	padding: 1px 10px 1px 10px;
	border-top: 0.3px solid #dddddd;
}

.comments ul li:hover {
	background-color: #eeeeff;
}

.comments img{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
